USE [master]
GO
/****** Object:  Database [Unis_db]    Script Date: 2025-11-23 12:40:19 AM ******/
CREATE DATABASE [Unis_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Unis_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Unis_db.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Unis_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Unis_db_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Unis_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Unis_db]
GO
/****** Object:  Table [dbo].[colleges]    Script Date: 2025-11-23 12:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colleges](
	[college_id] [int] NOT NULL,
	[uni_id] [int] NOT NULL,
	[college_name] [nvarchar](255) NOT NULL,
	[web] [nvarchar](255) NOT NULL,
	[college_name_en] [varchar](255) NULL,
 CONSTRAINT [PK_colleges] PRIMARY KEY CLUSTERED 
(
	[college_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 2025-11-23 12:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[dept_id] [int] NOT NULL,
	[college_id] [int] NOT NULL,
	[dept_name] [nvarchar](255) NOT NULL,
	[arbitrary] [bit] NOT NULL,
	[lat] [float] NOT NULL,
	[lon] [float] NOT NULL,
	[gpa] [float] NOT NULL,
	[hs] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[dept_name_en] [varchar](255) NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[dept_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[universities]    Script Date: 2025-11-23 12:40:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[universities](
	[uni_id] [int] NOT NULL,
	[uni_name] [nvarchar](255) NOT NULL,
	[is_private] [bit] NOT NULL,
	[uni_rank] [int] NOT NULL,
 CONSTRAINT [PK_universities] PRIMARY KEY CLUSTERED 
(
	[uni_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[colleges]  WITH CHECK ADD  CONSTRAINT [FK_colleges_universities] FOREIGN KEY([uni_id])
REFERENCES [dbo].[universities] ([uni_id])
GO
ALTER TABLE [dbo].[colleges] CHECK CONSTRAINT [FK_colleges_universities]
GO
USE [master]
GO
