USE [master]
GO
/****** Object:  Database [Users_db]    Script Date: 2025-11-23 12:41:02 AM ******/
CREATE DATABASE [Users_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Users_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Users_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Users_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Users_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Users_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Users_db]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025-11-23 12:41:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[age] [int] NULL,
	[gender] [nvarchar](50) NULL,
	[income] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[religion] [nvarchar](50) NULL,
	[language] [nvarchar](50) NULL,
	[gpa] [float] NULL,
	[hs_type] [nvarchar](50) NULL,
	[mbti] [nvarchar](10) NULL,
	[career_goal] [nvarchar](max) NULL,
	[app_version] [nvarchar](50) NULL,
	[lat] [float] NULL,
	[lon] [float] NULL,
	[prefer_close] [bit] NULL,
	[created_at] [nvarchar](100) NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
